@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

*{
    margin: 0 auto;
    font-family: Fira Sans;
}

/* shared style */
button:hover{
    background-color: blueviolet;
}
.btn-2{
    width: 122px;
    height: 41px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.btn-font{
    color: rgba(14, 14, 14, 0.8);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

/* hero style start */
#hero{
    width: 1280px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}
.hero-descrition{
    width: 622px;
    height: 326px;
}
.hero-sub-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
.hero-title{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}
.btn-primary{
    width: 270px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
.hero-image{
    width: 474.03px;
    height: 400px;
}
/* hero style end */

/* future style start */
#future{
    width: 1372px;
    height: 765px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32;
    padding: 0px;
    margin-top: 80px;
}
.future-container{
    width: 1280px;
    height: 120px;
}
.future-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 24px;
}
.future-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.card-container{
    width: 1372px;
    height: 325px;
    display: flex;
    align-items: center;
    margin: 32px 0px;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    align-self: stretch;
}
.card-1{
    width: 415px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    box-sizing: border-box;
    border-radius: 16px;
    gap: 24;
    padding: 32px;
}
.card-2{
    width: 415px;
    height: 325px;
    background-color: rgb(198, 228, 214);
    box-sizing: border-box;
    border-radius: 16px;
    margin: 0px 30px;
    padding: 24px;
}
.card-3{
    width: 415px;
    height: 325px;
    background-color: rgb(247, 235, 207);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
}
.card-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}
.card-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.card-btn1{
    background: rgb(84, 144, 245);
    margin-top: 16px;
}
.card-btn2{
    background: rgb(9, 161, 92);
    margin-top: 48px;
}
.card-btn3{
    background: rgb(255, 194, 57);
    margin-top: 48px;
}
.about-container{
    width: 1280px;
    height: 256px;
    gap: 24;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 48px 24px 48px 24px;
}
.sub-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.name{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 12px;
}
.name-title{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
}
/* future style end */

/* recent news style start */
#recent-news{
    width: 1372px;
    height: 1600px;
    gap: 32;
    margin-top: 80px;
    margin-bottom: 80px;
}
.news-title{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.news-sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.news-container{
    width: 1280px;
    height: 385px;
    display: flex;
    align-items: center;
    gap: 32;
    padding: 45px;
    margin-top: 24px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
.satelite-image{
    background-image: url('../assets/satelite.png');
    width: 400px;
    height: 300px;
    margin: 0px 28px;
    border-radius: 24px;
}
.news-deteils{
    width: 744px;
    height: 290px;
}
.satelite-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}
.container-sub-title{
    margin-top: 12px;
}
.recent-news-btn{
    width: 139px;
    height: 48px;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    font-size: 18px;
    font-weight: 600;
    /* line-height: 22px; */
    color: rgb(255, 255, 255);
    margin-top: 30px;
}
/* recent news style end */

/* donate style start */
#donate{
    width: 1280px;
    height: 464px;
    align-items: center;
    margin-top: 80px;
}
.donare-title{
    text-align: center;
}
.donare-sub-title{
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
}
.btn-container{
    text-align: center;
}
.tk-btn1{
    width: 240px;
    height: 128px;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.tk-btn2{
    width: 252px;
    height: 128px;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.tk-btn3{
    width: 243px;
    height: 128px;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.tk-btn4{
    width: 264px;
    height: 128px;
    padding: 40px;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.tk-input-field{
    width: 1032px;
    height: 64px;
    align-items: center;
    gap: 24;
    padding: 20px 40px 20px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    margin-top: 32px;
    text-align: center;
}
.tk-input-field > input{
    border: none;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.done-btn-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 32px;
}
.done-btn{
    width: 160px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 17px 34px 17px 34px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}
/* donate style end */

/* subscribe style start */
#subscribe{
    width: 1280px;
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin-top: 80px;
}
.email-container{
    position: absolute;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 24px;
}
.email-container > input{
    width: 600px;
    height: 40px;
    position: relative;
    left: 225px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-collapse: collapse;
    border: none;
}
.email-container > button{
    width: 150px;
    height: 72px;
    position: relative;
    right: -220px;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    border-collapse: collapse;
}
.email-container button:hover{
    background-color: blueviolet;
}
.subscribe-sub-title{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    align-items: last baseline;
    margin-top: 140px;
}
/* subscribe style end */